# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
Common/Debug/
Application/Debug/
*.opensdf
*.idb
*.tlog
*.lastbuildstate
Debug/
*.suo
Application/OBJ/
.gitignore.orig
Application/Application.vcxproj.filters.orig
Application/Application.vcxproj.orig
Application/Source/Application.cpp.orig
DM2122_Framework.sdf
glew/lib/glew32.lib
glfw/lib-msvc110/glfw3.dll
glfw/lib-msvc110/glfw3.lib
glfw/lib-msvc110/glfw3dll.lib
glfw/lib-msvc120/glfw3.dll
glfw/lib-msvc120/glfw3.lib
glfw/lib-msvc120/glfw3dll.lib
